.header{
   
}

.header p{
    font-size: 24px;
    font-weight: bold;
}

.input{
    border: 2px solid black;
    border-radius: 4px;
    color: gray;
    width: 200px;
}
.button{
    width: 50px;
    font-size: 12px;
    background-color: gray;
    color: white;
   
}
.button:hover{
    background-color: lightgray;
    color:black;
    transition: 0.5s;
}

.body{
   
    display: flex;
    justify-content: center;
}
.body input{
    width: 25px;
    height: 25px;
}
.text{
    width: 200px;
}
.delete:hover{
    cursor: pointer;
}